<div id="slice-navbar" class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" id="brand" href="#" >DEMO</a>

		
				<input type="input" class="span2 space-right" placeholder="Enter a page number" / >
				<button type="submit" class="btn btn-primary" >SEARCH</button>
			
		</div>
	</div>
</div>