 <h1>This is page number: {{pageNumber}}</h1>

 <table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th id="brand_name">Brand Name</th>
			<th id="product_code">Product Code</th>
			<th id="saks_department">Department #</th>
			<th id="saks_division">Division #</th>
			<th id="saks_group">Group #</th>
		</tr>
	</thead>
	<tbody></tbody>
</table>